<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Make_PDF_File</display-name>
  <welcome-file-list>
    <welcome-file>transaction_statement.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PDF</servlet-name>
    <servlet-class>com.test.pdf1.PDF_Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PDF</servlet-name>
    <url-pattern>*.p</url-pattern>
  </servlet-mapping>
</web-app>